# # Q1. Create a python program to sort the given list of tuples based on integer value using a
# # lambda function.
# [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [10]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [ ]:
lambda l:

In [11]:
l

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
# lambda and map functions.
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def s(x):
    return x**2

In [19]:
list(map(s,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
# lambda functions
# Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [26]:
l = [1, 2, 3, 4, 5, 6,7,8,9,10]

str(map(lambda l:l.str(),l))

'<map object at 0x7f12dc3556c0>'

In [27]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Q4. Write a python program using reduce function to compute the product of a list containing numbers
# from 1 to 25.

In [33]:
from functools import reduce
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,191,20,21,22,23,24,25]

In [38]:
reduce(lambda x , y : x * y  , l )

155928479909274648576000000

# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
# filter function.
# [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [44]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
l1 = []

In [51]:
list(filter(lambda x : x % 2 == 0, l))
list(filter(lambda x : x % 3 == 0, l))

[3, 6, 9, 27, 60, 90, 120]

# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
# function.
# ['python', 'php', 'aba', 'radar', 'level']

In [53]:
l = ['python', 'php', 'aba', 'radar', 'level']

In [77]:
palindrome=lambda word: word == word[::-1,l]